<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF8">
<title>Insert title here</title>
</head>
<body>
	<form method="POST" th:object="${produto}"
		th:action="@{/produto/salvar}">

		<input type="hidden" th:field="*{id}" />
		<div>
			<label for="nome">Nome:</label> <input type="text" id="nome"
				th:field="*{nome}" />
		</div>
		<div>
			<label for="unidade">unidade:</label> <input type="text" id="unidade"
				th:field="*{unidade}" />
		</div>
		<div>
			<label for="descricao">descricao:</label> <input type="text"
				id="descricao" th:field="*{descricao}" />
		</div>
		<div>
			<label for="valor">valor:</label> <input type="text"
				id="valor" th:field="*{valor}" />

			<div class="button">
				<button type="submit">Cadastrar produto</button>
			</div>

		</div>
	</Form>

</body>
</html>